@import 'normalize.css';
.b-banner {
  background-image: url("_ADPATH_image.png");
  width: 250px;
  height: 360px;
  background: #fafafa;
  overflow: hidden;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #505050;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
.b-banner>* {
  text-decoration: none;
}
.b-header {
  font-size: 135%;
}
.b-text span {
  display: block;
  color: #0fad8c;
  font-weight: bold;
  text-transform: uppercase;
}
.b-text._small {
  font-size: 85%;
  font-weight: 400;
}
.b-button {
  background-color: #854ad5;
  padding: 0 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  height: 36px;
  line-height: 36px;
  font-weight: 400;
  transition: 0.2s all ease-in-out;
}
.b-button:hover {
  background-color: #935fda;
}
