
<!-- inject-css ../../../dist/test/style.css -->
<!-- inject-css ../../../dist/test/font.css -->
<div class="b-main">
	<div class="b-head">
		tjanster
		<div class="b-line"></div>
	</div>
	<div class="b-block">
		<div class="b-headerText">
			Investera i fastigheter tillsammans med Di och Tessin.se
			Nedanfoljer ett axplock av intressanta projekt
		</div>
		<div class="b-blockImg">
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style="
							background: url('1.jpeg'), no-repeat;
							background-position: 100% 100%;
							background-size: cover;"
				 		alt=""
						class="b-img"
					>
					</div>
				</a>
				<dvi>Seniorboende med guldkant</dvi>
			</div>
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style="
							background: url('2.jpg'), no-repeat;
							background-position: 100% 100%;
							background-size: cover;"
						alt=""

						class="b-img">
					</div>
				</a>
				<dvi>Boutinquelangenheter pa Ostermalm</dvi>
			</div>
			<div class="b-smallBlockImg">
				<a href="{{ _ADCLICK_ }}"
					 target="_blank"
					 class="b-img__a"
				>
					<div
						style="
							background: url('3.jpg'), no-repeat;
							background-position: 100% 100%;
							background-size: cover;"
						alt=""
						class="b-img"
					>
					</div>
				</a>
				<dvi>Villautveckling i Akersberga - etapp 4</dvi>
			</div>
		</div>
		<div class="b-buttonBlock">
			<div class="b-buttonBlockText">
				<div class="b-buttonBlockText__text">I samarbete med</div>
				<img class="b-svg" src="logo.svg" alt="">
			</div>
			<button class="b-button">Se fler projekt</button>
		</div>
	</div>
</div>