
<!-- inject-css ../../../dist/test/style.css -->
<!-- inject-css ../../../dist/test/font.css -->
<div class="b-main">
    <div class="b-head">tjanster <div class="b-line"></div></div>
    <div class="b-block">
        <div class="b-headerText">
            Investera i fastigheter tillsammans med Di och Tessin.se
            Nedanfoljer ett axplock av intressanta projekt
        </div>
        <div class="b-blockImg">
            <div class="b-smallBlockImg">
                <a href="{{ _ADCLICK_ }}"
                   target="_blank"
                   class="b-img__a"
                >
                    <img src="1.jpeg" alt="" class="b-img">
                </a>
                <dvi>Seniorboende med guldkant</dvi>
            </div>
            <div class="b-smallBlockImg">
                <a href="{{ _ADCLICK_ }}"
                   target="_blank"
                   class="b-img__a"
                >
                    <img src="2.jpg" alt="" class="b-img">
                </a>
                <dvi>Boutinquelangenheter pa Ostermalm</dvi>
            </div>
            <div class="b-smallBlockImg">
                <a href="{{ _ADCLICK_ }}"
                   target="_blank"
                   class="b-img__a"
                >
                    <img src="/3.jpg" alt="" class="b-img">
                </a>
                <dvi>Villautveckling i Akersberga - etapp 4</dvi>
            </div>
        </div>
        <div class="b-buttonBlock">
            <div class="b-buttonBlockText">
                <div class="b-buttonBlockText__text">I samarbete med</div>
                <img class="b-svg" src="svg.svg" alt="">
            </div>
            <button class="b-button">Se fler projekt</button>
        </div>
    </div>
</div>
<!--<a href="{{ _ADCLICK_ }}"-->
   <!--target="_blank"-->
   <!--class="b-banner"-->
   <!--style="background-image: url('image.png');"-->
<!--&gt;-->

    <!--<div class="b-header">-->
        <!--<b>Investera</b> i fastigheter-->
    <!--</div>-->

    <!--<div class="b-text">-->
        <!--Bygg din portfölj med<br />-->
        <!--säkerställda fastighetslån-->
    <!--</div>-->

    <!--<div class="b-button">-->
        <!--LÄS MER-->
    <!--</div>-->

    <!--<div class="b-text _small">-->
        <!--<span>JUST NU</span>-->
        <!--Pendligsnara parhus norr<br />-->
        <!--om Stocklohlm-->
    <!--</div>-->

    <!--<div class="b-illustration"></div>-->

<!--</a>-->