
<!-- inject-css ../../../dist/test/style.css -->
<!-- inject-css ../../../dist/test/font.css -->

<a href="{{ _ADCLICK_ }}"
   target="_blank"
   class="b-banner"
   style="background-image: url('image.png');"
>

    <div class="b-header">
        <b>Investera</b> i fastigheter
    </div>

    <div class="b-text">
        Bygg din portfölj med<br />
        säkerställda fastighetslån
    </div>

    <div class="b-button">
        LÄS MER
    </div>

    <div class="b-text _small">
        <span>JUST NU</span>
        Pendligsnara parhus norr<br />
        om Stocklohlm
    </div>

    <div class="b-illustration"></div>

</a>